@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

/* utility classes */
.flex {
  display: flex;
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* utility classes end */

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 210, 255);
}

.calculator {
  background-color: rgb(32, 44, 73);
  padding: 10px;
  width: 100%;
  min-width: 250px;
  min-height: 340px;
  border-radius: 8px;
}

.operations {
  width: 100%;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 23px;
  gap: 13px;
  padding: 8px;
  padding-bottom: 29px;
}

.rows {
  display: flex;
  gap: 15px;
}

.button {
  width: 46px;
  height: 46px;
  background-color: rgb(32, 44, 73);
  box-shadow: -2px -2px 5px rgb(125, 139, 172);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid rgba(62, 74, 101, 0);
  transition: all 0.1s ease-in-out;
}

.button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.click {
  transform: scale(1);
  box-shadow: 0 0;
  border: 2px solid rgba(62, 74, 101, 0.989);
}

.result {
  width: 250px;
  color: rgb(190, 210, 255);
  background-color: transparent;
  font-weight: 500;
  font-size: 150%;
  outline: none;
  border: none;
  padding: 5px 10px;
  position: relative;
  top: 7px;
  letter-spacing: 1px;
  text-align: right;
}
