@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

/* utility classes */
.flex {
  display: flex;
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* utility classes end */

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: rgb(32, 44, 73);
  padding: 15px;
  gap: 10px;
  width: 225px;
  height: 340px;
  border-radius: 8px;
}

body {
  background-color: rgb(190, 210, 255);
}

.button {
  width: 45px;
  height: 45px;
  background-color: rgb(32, 44, 73);
  box-shadow: -2px -2px 5px rgb(125, 139, 172);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid rgba(62, 74, 101, 0);
  transition: all 0.1s ease-in-out;
}

.button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.operations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 23px;
  gap: 11px;
}

.rows {
  display: flex;
  gap: 11px;
}

.rows .part-1 {
  gap: 10px;
  flex: 1;
}

.part-2 {
  width: 100px;
}

.click {
  transform: scale(1);
  box-shadow: 0 0;
  border: 2px solid rgba(62, 74, 101, 0.989);
}

.result {
  width: 100%;
  display: ;
  float: right;

  /* background-color: white; */
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 150%;
}
